<div id="flash_messages"></div>

<%= simple_form_for(@contact, remote: true) do |f| %>
   <div class="form-inputs">
     <%= f.input :name %>
     <%= f.input :email %>
     <%= f.input :message %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Enviar", class: 'btn btn-primary' %>
  </div>
<% end %>
