<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <%= link_to "Bucketlist", root_path, class: "nav-brand" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Página Inicial</a>
      </li>

      <% if user_signed_in? %>
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <%= current_user.name %> 
           </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <%= link_to 'Meu perfil', edit_user_registration_path,
                                     class: 'dropdown-item' %>
             <%= link_to 'Sair', destroy_user_session_path, method: :delete,
                               class: 'dropdown-item' %>
           </div>
         </li>
      <% else %>
        <li class="nav-item">
           <%= link_to 'Entrar', new_user_session_path,
                                 class: 'btn btn-primary btn-sm' %>
        </li>
      <% end %>
    </ul>
  </div>

</nav>
